<hi>register</hi>
<form action="/register" method="POST">
        <dev>
            <label for="name">name</label>
            <input type="text" id="name" name="name" required>
        </dev>
        <dev>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
        </dev>
        <dev>
            <label for="password">password</label>
            <input type="text" id="password" name="password" required>
        </dev>

        <button type="submit">register</button>
</form>
<a href="/login">login</a>